<div class="home-container">
    <img src="assets/foto-perfil.jpeg" alt="Foto de perfil" class="profile-img" />
    <div class="description">
        <h2>¡Hola! Soy Raúl Silva</h2>
        <p>
            Estudiante de Ingeniería de Software con experiencia en desarrollo de aplicaciones y diseño de base de
            datos. Dominio de tecnologías como Angular, React, Express, Spring Boot y bases de datos SQL, aplicándolas
            en proyectos académicos que fortalezcan mis habilidades en programación, diseño web y gestión de datos.
            Apasionado por crear soluciones innovadoras y contribuir al desarrollo de software de alto impacto. </p>
    </div>
</div>
